server:
  port: 8099
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/
    register-with-eureka: false
    fetch-registry: true
  instance:
    prefer-ip-address: false
user:
  name: ÕÅÈı8099